<a href="https://colab.research.google.com/github/Rohan-004/Movie-app/blob/main/diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [8]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and Analysis

In [9]:
#loading the diabetes data set into a pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [11]:
# printing the first row of dataset
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            2      138             62  ...                     0.127   47        1
1            0       84             82  ...                     0.233   23        0
2            0      145              0  ...                     0.630   31        1
3            0      135             68  ...                     0.365   24        1
4            1      139             62  ...                     0.536   21        0

[5 rows x 9 columns]

In [12]:
# number of rows and columns in this data set
diabetes_dataset.shape

(10000, 9)

In [13]:
# getting the statistical measures of the data
diabetes_dataset.describe()

        Pregnancies       Glucose  ...           Age       Outcome
count  10000.000000  10000.000000  ...  10000.000000  10000.000000
mean       3.703500    121.182500  ...     33.090500      0.342000
std        3.305402     32.062221  ...     11.784065      0.474403
min        0.000000      0.000000  ...     21.000000      0.000000
25%        1.000000     99.000000  ...     24.000000      0.000000
50%        3.000000    117.000000  ...     29.000000      0.000000
75%        6.000000    141.000000  ...     40.000000      1.000000
max       17.000000    199.000000  ...     81.000000      1.000000

[8 rows x 9 columns]

In [14]:
diabetes_dataset['Outcome'].value_counts()

0    6580
1    3420
Name: Outcome, dtype: int64

0---->Non diabetics patients
1---->Diabetics patients

In [17]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.168693  110.586626  ...                  0.434676  31.081307
1           4.732456  141.568713  ...                  0.540681  36.956140

[2 rows x 8 columns]

In [20]:
#separating the dataset and labels
X = diabetes_dataset.drop(columns= 'Outcome',axis=1)
Y = diabetes_dataset['Outcome']

In [22]:
print(X)

      Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0               2      138             62  ...  33.6                     0.127   47
1               0       84             82  ...  38.2                     0.233   23
2               0      145              0  ...  44.2                     0.630   31
3               0      135             68  ...  42.3                     0.365   24
4               1      139             62  ...  40.7                     0.536   21
...           ...      ...            ...  ...   ...                       ...  ...
9995            2       75             64  ...  29.7                     0.370   33
9996            8      179             72  ...  32.7                     0.719   36
9997            6       85             78  ...  31.2                     0.382   42
9998            0      129            110  ...  67.1                     0.319   26
9999            2       81             72  ...  30.1                     0.547   25

[10000 rows x 8 columns]

In [23]:
print(Y)

0       1
1       0
2       1
3       1
4       0
       ..
9995    0
9996    1
9997    0
9998    1
9999    0
Name: Outcome, Length: 10000, dtype: int64

Data Standardization

In [24]:
scaler = StandardScaler()

In [25]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [26]:
standardized_data = scaler.transform(X)

In [27]:
print(standardized_data)

[[-0.5153943   0.52455322 -0.37248123 ...  0.17268332 -1.06324616
   1.18042417]
 [-1.12049474 -1.1597562   0.67008046 ...  0.73724853 -0.7355513
  -0.85632626]
 [-1.12049474  0.74288962 -3.60442246 ...  1.47363794  0.49175869
  -0.17740945]
 ...
 [ 0.69480658 -1.12856529  0.46156812 ... -0.12187245 -0.27492362
   0.75610116]
 [-1.12049474  0.24383498  2.12966682 ...  4.28419085 -0.46968566
  -0.60173245]
 [-0.5153943  -1.25332895  0.14879962 ... -0.25687717  0.23516743
  -0.68659705]]

In [28]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [29]:
print(X)
print(Y)

[[-0.5153943   0.52455322 -0.37248123 ...  0.17268332 -1.06324616
   1.18042417]
 [-1.12049474 -1.1597562   0.67008046 ...  0.73724853 -0.7355513
  -0.85632626]
 [-1.12049474  0.74288962 -3.60442246 ...  1.47363794  0.49175869
  -0.17740945]
 ...
 [ 0.69480658 -1.12856529  0.46156812 ... -0.12187245 -0.27492362
   0.75610116]
 [-1.12049474  0.24383498  2.12966682 ...  4.28419085 -0.46968566
  -0.60173245]
 [-0.5153943  -1.25332895  0.14879962 ... -0.25687717  0.23516743
  -0.68659705]]
0       1
1       0
2       1
3       1
4       0
       ..
9995    0
9996    1
9997    0
9998    1
9999    0
Name: Outcome, Length: 10000, dtype: int64

Train test split

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [31]:
print(X.shape, X_train.shape, X_test.shape)

(10000, 8) (8000, 8) (2000, 8)

Training the model

In [32]:
classifier = svm.SVC(kernel='linear')

In [33]:
#traning the support vector Machine Learning
classifier.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Model Evaluation

Accuracy Score

In [35]:
# accuracy score from the framing data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [36]:
print('Accuracy score of the training data :', training_data_accuracy)

Accuracy score of the training data : 0.772625

In [41]:
# accuracy score from the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [42]:
print('Accuracy score of the test data :', test_data_accuracy)

Accuracy score of the test data : 0.7745

Making a Predictive System

In [62]:
input_data = (7,195,70,33,145,25.1,0.163,55)
# chaning the input_data into numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1 , -1)

#standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0]==0): 
 print('the person is non diabetic')
else:
 print('the person is diabetic')

[[ 0.9973568   2.30243538  0.04454345  0.74941535  0.58249579 -0.87053501
  -0.95195356  1.85934098]]
[1]
the person is diabetic